<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132715810345-rijauvppf4dnl7ihns4mpga4llrjspmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132715810345-rijauvppf4dnl7ihns4mpga4llrjspmj</string>
	<key>API_KEY</key>
	<string>AIzaSyC8BJ7eU6kbGbbd8UDeOYPNSEJ7BZhjDD0</string>
	<key>GCM_SENDER_ID</key>
	<string>132715810345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.meltem.ChallengeProject</string>
	<key>PROJECT_ID</key>
	<string>challenge-bac81</string>
	<key>STORAGE_BUCKET</key>
	<string>challenge-bac81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132715810345:ios:a82c549c0fb253af091638</string>
	<key>DATABASE_URL</key>
	<string>https://challenge-bac81.firebaseio.com</string>
</dict>
</plist>